# .gitignore

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
*.egg

# Virtual environment
bin/
include/
lib/
lib64/
pyvenv.cfg
*.pyenv

# Jupyter Notebook
.ipynb_checkpoints/

# macOS artifacts
.DS_Store

# Visual Studio Code
.vscode/

# Data files
*.sql*
*.db
*.csv
*.tsv
*.json
*.txt

# Log files
*.log

# dotenv
.env